nav{
  background-color: #2c3e50;
  height: 110px;
  line-height: 110px;
  text-transform: uppercase;
}
nav .col-md-4 a{
  font-size:30px;
  font-weight: bold;
  color:white;
}
.col-md-4 a:hover{
  text-decoration: none;
  color: white;
}
.col-md-1 a{
  font-size: 15px;
  color: white;
  font-weight: bold;
}
.col-md-1 a:hover{
  color:#18bc9c;
  text-decoration: none;
}
.logo{
  background-color: #18bc9c;
  color: white;
}
.mt-90{
  margin-top:90px;
}
.mb-90{
  margin-bottom: 90px;
}
.logo h1{
  font-size: 80px;
  font-weight: bold;
  margin-top:40px;
}
hr{
  width:80px;
  display: inline-block;
  border-bottom:5px solid white;
  margin-bottom: 15px;
}
.portfolio img{
  width: 100%;
  height: auto;
  margin-top:30px;
}
.portfolio hr{
  border-bottom:5px solid #2c3e50;
}
.portfolio h1,
.contact h1{
  font-size: 50px;
  color: #2c3e50;
  font-weight: bold;
}
.fas{
  padding:10px;
}
.portfolio .fas,
.contact .fas{
  color:#2c3e50;
}
.about{
  background-color: #18bc9c;
  color: white;
}
.about h1{
  font-size: 50px;
  font-weight: bold;
}
.about p{
  margin: 20px 0px;
  font-size: 20px;
}
.about a{
  border: 2px solid white;
  border-radius: 5px;
  font-size: 20px;
  padding: 20px 40px;
  color:white;
}
.about a:hover{
  text-decoration: none;
  background-color: white;
  color:#2c3e50;
}
input{
  border-top:none;
  border-left:none;
  border-right:none;
  height: 100px;
  width: 100%;
}
.contact hr{
  border-bottom:5px solid #2c3e50;
}
button{
  border-radius: 5px;
  font-size: 20px;
  padding: 20px 40px;
  background-color: #18bc9c;
  color: white;
  margin-top: 30px;
}
footer{
  background-color: #2c3e50;
  color:white;
}
footer span{
  color:#18bc9c;
}
footer ul li a{
  border:1px solid white;
  border-radius: 50%;
  padding:5px;
}
footer i{
  width: 100%;
  height: auto;
}
footer i:hover{
  background-color: white;
  text-decoration: none;
  color:#2c3e50;
}
footer .green:hover{
  color:#18bc9c;
}
.final{
  background-color: #1a252f;
  color:white;
}
